body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

main {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.main-div {
  background: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

h2 {
  color: #333;
  font-size: 24px;
}

.wafer-map-container {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}
