<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Angular App</title>
    <link rel="stylesheet" href="app.component.css" />
    <script async src="https://docs.opencv.org/4.5.2/opencv.js" type="text/javascript"></script>
  </head>
  <body>
    <main>
      <div>
        <button id="loginButton" (click)="deleteLoginButton()">Login</button>
        <form (ngSubmit)="onSubmit()" *ngIf="loginButtonClicked && !loginSuccessful">
          <div>
            <label for="username">Username:</label>
            <input
              type="text"
              id="username"
              [(ngModel)]="loginData.username"
              name="username"
              required
            />
          </div>
          <div>
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              [(ngModel)]="loginData.password"
              name="password"
              required
            />
          </div>
          <button type="submit">Login</button>
        </form>
        <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
      </div>
      <h2>Defect Detection in Silicon Wafers Manufacturing Processes</h2>
      <div class="main-div">
        <label for="dieCountInput">Enter number of dies:</label>
        <input id="dieCountInput" type="number" [(ngModel)]="dieCount" />
        <button
          (click)="generateWaferMap(dieCount)"
          [disabled]="dieCount > 1000000"
        >
          Generate Normal Wafer Map
        </button>
        <p *ngIf="dieCount > 1000000" style="color: red">
          The number of dies cannot exceed 1 million.
        </p>
        <button
          (click)="generateDonutWaferMap(dieCount)"
          [disabled]="dieCount > 1000000"
        >
          Generate Donut Wafer Map
        </button>
        <button (click)="detectHoughCircles()">Detect Hough Circles</button>
        <p *ngIf="dieCount > 1000000" style="color: red">
          The number of dies cannot exceed 1 million.
        </p>
        <label for="tagInput">Enter custom defect detection tag:</label>
        <input id="tagInput" type="text" [(ngModel)]="tag" />
        <button (click)="changeHighlightedTag(tag)">Detect</button>

        <label for="tagInput">Highlight dies bellow X yield:</label>
        <input id="tagInput" type="number" [(ngModel)]="tagAsNumber" />
        <button (click)="changeHighlightedTagBellowYield(tagAsNumber)">Detect</button>
      </div>

      <div id="wafer-map-container" class="wafer-map-container"></div>
      <canvas id="waferMapCanvas" width="800" height="800" style="transform: translateY(-520px);"></canvas>
    </main>
  </body>
</html>
